# This is used to create a docker container with the qdrant image and expose the port 6333 and spin up the container -> qdrant run kar dega 
services:
  qdrant:
    image: qdrant/qdrant
    ports:
      - 6333:6333